<h2>{{& __ "login.headline"}}</h2>

<div class="login">
    <div class="loginButtons">
        <b>{{& __ "login.buttonPrefix"}}</b>
        <a class="btn googleLogin" href="?provider=google" title="{{__ "login.google.hint"}}" rel="nofollow">
            <span class="sprite googleLoginImage"><b>{{& __ "login.google.hint"}}</b></span>
        </a>
        <br>
        <br>
        <b>{{& __ "login.buttonPrefix"}}</b>
        <a class="btn facebookLogin" href="?provider=facebook" title="{{__ "login.facebook.hint"}}" rel="nofollow">
            <span class="sprite facebookLoginImage"><b>{{& __ "login.faebook.hint"}}</b></span>
        </a>
    </div>

    <div class="loginHelpText">
        <b>{{& __ "login.text1"}}</b>

        <ol>
            <li>{{& __ "login.text2"}}</li>
            <li>{{& __ "login.text3"}}
                <a href="https://support.google.com/accounts/answer/112802" target="_blank"
                    title="{{__ "login.googleHelpLinkHintText"}}" rel="nofollow">Google</a>,
                <a href="http://www.facebook.com/help/?faq=212800608741834#Is-it-safe-to-login-with-Facebook-on-another-site"
                    target="_blank" title="{{__ "login.facebookHelpLinkHintText"}}" rel="nofollow">Facebook</a>
            </li>
    </div>


    <form action="/p/login" method="post">
        <label>User</label>
        <input name="username" type="text" value="mathias">
        <label>Password</label>
        <input name="password" type="password" value="stefan">
        <button type="submit">Sign in</button>
    </form>
</div>