{{!< ./layouts/main}}

{{> cms_navi }}

<h2>
    {{{__ "faq.headline"}}}
</h2>

{{!--
<h3>{{{__ "faq.question.where"}}}<small></small></h3>
<div id="wifisStats">
    <div class="statsChart countriesMap"></div>
    <script type="text/javascript">
        var wifisStatsData = {countriesRelative : ${STATS.countriesRelativeJson}};
    </script>
</div>
--}}

<p>
    {{{__ "faq.text"}}}
</p>