<noscript>
    <div class="alert alert-danger" role="alert">
        JavaScript is disabled.<br>
        <b>You cannot add or delete a Wifi.</b>
    </div>
</noscript>

<p class="no-js-hidden">
    {{{__ "wifis.text"}}}
    <b>(max {{user.maxWifis}})</b>
</p>

{{> wifiForm }}